/* =========================
   ベース
========================= */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #daf6f1;
    
    background-image: radial-gradient(
        #ffffff 2px,
        transparent 2px
    );
    background-size: 30px 30px;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
}

/* =========================
   コンテナ
========================= */
.container {
    max-width: 860px;
    margin: 20px auto;
    background: #fffeee;
    padding: 32px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

/* =========================
   サマリー
========================= */
.summary-box {
    background: #f8fcff;
    border-left: 5px solid #79ccbd;

    max-width: 750px;
    margin: 5px auto; /* ←中央寄せに変更 */
    padding: 2px 16px;

    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.summary-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

/* =========================
   見出し
========================= */
h1 {
    padding-left: 10px;
    margin-top: 0px;
    font-family: 'Zen Maru Gothic', sans-serif;
}
h2 {
    border-left: 6px solid  #79ccbd;
    padding-left: 10px;
    margin-top: 35px;
    font-family: 'Zen Maru Gothic', sans-serif;
}

/* =========================
   リスト
========================= */
.info-list {
    padding-left: 30px;
    line-height: 1.9;
    margin-top: 0;
}

/* =========================
   テキスト
========================= */
p {
    padding-left: 20px; /* ←marginから変更 */
    margin-bottom: 14px;
}

/* 強調 */
.red {
    color: red;
}

/* =========================
   リンク
========================= */
a {
  color: #1a73e8;
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: #ffcc00;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

/* =========================
   スマホ対応
========================= */
@media (max-width: 600px) {

    body {
        font-size: 17px; /* ←文字大きく */
    }

    .container {
        margin: 20px 10px;
        padding: 20px;
    }

    .summary-box {
        margin: 16px 0;
        padding: 12px;
    }
    p {
        padding-left: 10px;
    }

    .info-list {
        padding-left: 20px;
    }
}