/* =========================
   ベース
========================= */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #daf6f1;
    
    background-image: radial-gradient(
        #ffffff 2px,
        transparent 2px
    );
    background-size: 30px 30px;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
}

/* =========================
   コンテナ
========================= */
.container {
    max-width: 860px;
    margin: 20px auto;
    background: #fffeee;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

/* =========================
   サマリー
========================= */
.summary-box {

    position: relative;

    max-width: 750px;
    margin: 20px auto 10px auto;
    padding: 18px 20px 6px 20px;

    background: #fffef7;

    border-radius: 30px;

    border-top: 3px solid #8fd8cc;
    border-right: 3px solid #8fd8cc;
    border-bottom: 3px solid #8fd8cc;

    /*
    box-shadow:
        0 15px 40px rgba(143,216,204,0.18);
    */    
    font-family: 'Zen Maru Gothic', sans-serif;

}

/* 左の太いバー */
.summary-box::before {

    content: "";

    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;

    width: 28px;

    background: #79ccbd;

    border-radius: 30px 0 0 30px;
}

/* キラキラ */
/*
.summary-box::after {

    content: "✧  ✦  ✧";

    position: absolute;

    top: 70px;
    right: 70px;

    color: #9fe0d5;

    font-size: 40px;
    letter-spacing: 15px;
}
*/
/* ヘッダー */
.summary-header {

    display: flex;
    align-items: center;
    gap: 12px;
    
    margin-left: 20px;
}

/* ラジオ */
.radio-icon {

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background: #a9e7dc;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


/* タイトルラベル */
.summary-label {

    background: linear-gradient(
        180deg,
        #b8efe6,
        #9fdfd4
    );

    color: #222;

    font-size: 18px;
    font-weight: bold;

    padding: 8px 45px;

    clip-path: polygon(
        12% 0,
        100% 0,
        100% 100%,
        12% 100%,
        0 50%
    );

    border: 3px solid #8fd8cc;
}

/* 点線 */
.summary-line {

    margin: 12px 0 15px 80px;

    border-top: 5px dotted #9adfd3;

    width: 55%;
}

/* リスト */
.summary-list {

    list-style: none;

    padding: 0;
    margin-left: 40px;
}

.summary-list li {

    position: relative;

    font-size: 16px;

    margin-bottom: 10px;

    padding-left: 32px;
}

/* 丸 */
.summary-list li::before {

    content: "";

    position: absolute;

    left: 0;
    top: 0.55em;

    width: 14px;
    height: 14px;

    background: #79ccbd;

    border-radius: 50%;
}

/* =========================
   見出し
========================= */
h1 {
    padding-left: 10px;
    margin-top: 0px;
    font-family: 'Zen Maru Gothic', sans-serif;

}

h2 {
    border-left: 6px solid #79ccbd;
    padding-left: 10px;
    margin-top: 35px;
    font-family: 'Zen Maru Gothic', sans-serif;
}

h3 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 20px; /* ←marginじゃなくpaddingに変更 */
    font-family: 'Zen Maru Gothic', sans-serif;
}

h4 {
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 6px;
}

h5 {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 0;
    font-weight: normal;
    color: #666;
}

/* =========================
   リスト
========================= */
.info-list {
    padding-left: 30px;
    line-height: 1.9;
    margin-top: 0;
}

/* =========================
   テキスト
========================= */
p {
    padding-left: 20px; /* ←marginから変更 */
    margin-bottom: 14px;
}

/* 強調 */
red {
    color: red;
}
blue {
    color: rgb(0, 81, 255);
}

/* =========================
   リンク
========================= */
a {
  color: #1a73e8;
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: #ffcc00;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.tweet-wrap{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
/* =========================
   スマホ対応
========================= */
@media (max-width: 600px) {

    body {
        font-size: 17px; /* ←文字大きく */
    }

    .container {
        margin: 20px 10px;
        padding: 20px;
    }

    .summary-box {
        margin: 12px 0;
        padding: 12px;
    }

    h1{
        font-size: 22px;
    }
    h2{
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
        padding-left: 10px;
    }

    h4 {
        font-size: 16px;
        padding-left: 10px;
    }

    h5 {
        font-size: 13px;
        padding-left: 10px;
    }

    p {
        padding-left: 10px;
    }

    .info-list {
        padding-left: 20px;
    }
}